################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MapGeneration/v16
/.vs
/out/build/x64-Debug
/cmake-build-debug
/cmake-build-wsl
