################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MapGeneration/v16
/.vs
/out/build/x64-Debug
/cmake-build-debug
/cmake-build-release
/cmake-build-wsl
CMakeFiles
CMakeCache.txt
cmake_install.cmake
MapGeneration
Makefile
*.o
a.out
# if you still have it, please delete the a.out! my mistake
.idea/
.idea/.name
.idea/inspectionProfiles/Project_Default.xml
wFita
wFita.cbp
.idea/workspace.xml
